# dependencies
/node_modules
/mcp/node_modules
/mcp/dist
/gateway/node_modules
/gateway/dist

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# env
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
.supabase/

#history
.history

supabase/.temp/
.vercel
.env*